body{
  color:#4f4f4f;
  font-family:arial, sans-serif;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  padding: 0;
  margin: 0;
}

a{
  outline: none;
  text-decoration: none;
  color:#4f4f4f;
}


a:hover{
  font-weight: 900;
  color:pink;
}

.wrapper{
  margin: 0 auto;
  width: 1000px;
}

header .logo{
  padding: 20px 0 0 0;
  float:left;
}

header .logo h1,
header .logo h2{
font-weight: normal;
text-transform: none;
margin: 0;
padding: 0;
}

header .logo h2{
  font-size: 14px;
}

header nav{
  float:right;
  margin: 20px 0 0 0;
  padding: 20px 0;
}

header nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li{
  display: inline;
  margin-right: 25px;
  text-transform: uppercase;
}

header nav ul li .last{
  margin-right: 0;
}
